[submodule "colors/lucius"]
	path = colors/lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
